.background-nav{
    background-color: #663333;
}

.navbar-toggler{
    border : none;
}
/*Les sous-titres*/

.sous-titres{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

/*Ensemble des parties avec un fond marron*/
.fond-marron-xs{
    background-color: #663333;
    color: white;
}

.fond-marron{
    background-color: #663333;
    color:white;
}

/*Partie des vignettes*/

.vignette{
    height: 410px;
    padding-top: 80px;
}

.background-circle{
    border-radius: 50%;
    background-color: #cc3366;
    width: 100px;
    height: 100px;
    position: relative;
    margin: 25px auto;
}

.cup{
    position: absolute;
    top : 13px;
    left: 25px;
}

.description-icone{
    margin: 0 auto 30px auto;
    text-align: center;
    width: 88%;
}

/*Mise en valeur produit*/
.container-produit{
    height: 380px;
    justify-content: center;
    position: relative;
}
.produit{
    width: 550px;
    height: 155px;
    margin: 40px auto 40px auto;
    background-image: url("../../media/produit_01.png");
    background-repeat: no-repeat;
}


/*footer*/
footer{
    height: auto;
}

h4{
    margin: 0;
}

.droits-footer{
    font-size: 14px;
    display: flex;
    padding: 0px;    
}

.ny{
    margin-top: 13px;
    padding: 0;
}

.reseauxsociaux{
    display: flex;
    flex-direction: row; 
    margin-top :10px;
    margin-bottom: 10px;
    padding: 0;
    justify-content: flex-end;
}

.facebook{
    background-image: url("../../media/facebook.png");
    height: 30px;
    width : 30px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.instagram{
    background-image: url("../../media/instagram.png");
    height :30px;
    width: 30px;
    background-repeat: no-repeat;
}



/* tablette */
@media (min-width : 768px){ 

.fond-marron-xs{
    background-color: white;
    color: black;
}

/*footer*/
.reseauxsociaux{
    justify-content: unset;
    margin :10px auto 0 auto;
    justify-content: center;
    padding-bottom: 15px;
}

.ny{
    margin-left: auto;
    text-align: center;
}

.droits-footer{
    display: unset;  
}}

/*Desktop*/

@media (min-width:992px){
.section-vignette{
    height: 400px;
}

.vignette{
   padding-top:35px; 
} 

.background-circle{
    width: 190px;
    height: 190px;
    position: relative;
    margin: 25px auto;
}

.cup{
    position: absolute;
    top : 28px;
    left: 48px;
    width: 100px;
    height: 130px; 
}

/*produit*/

.container-produit{
    height: 550px;
    margin-top: 20px;
}
/*Effet 360*/

body {
    perspective: 800px;
}

.flip {
    width: 550px;
    height: 155px;
    position: absolute;
    top: 200px;
    left: 250px;
    transition: 10s;
    backface-visibility: hidden; /* Permet d'éviter de voir le bloc de dos */
}

#devant{
    z-index: 100;
    background-image: url("../../media/mockupfront.png");
    background-repeat: no-repeat;
}

#derriere{
    z-index: 50;
    background-image: url("../../media/produit2.png");
    background-repeat: no-repeat;
    transform: rotateY(-180deg); /* Celui-ci est retourné par défaut */
}

#devant:hover{
    transform: rotateY(360deg); /* On passe de 0 à 360° : tour complet */
}


/* on applique une rotation au bloc derriere lorsqu'on survole le bloc devant */

#devant:hover + #derriere{
    transform: rotateY(180deg);  /* On passe de -180° à 180° : tour complet */
}

}

