/*Les sous-titres*/

.sous-titres{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}

/*Ensemble des parties avec un fond marron*/
.fond-marron-xs{
    background-color: #663333;
    color: white;
}

.fond-marron{
    background-color: #663333;
    color:white;
}

/*Partie des vignettes*/

.background-circle{
    border-radius: 50%;
    background-color: #cc3366;
    width: 80px;
    height: 80px;
    position: relative;
    margin: 25px auto;
}

.cup{
    position: absolute;
    top : 4px;
    left: 15px;
}

.description-icone{
    margin: 0 auto 30px auto;
    text-align: center;
    width: 88%;
}

/*Mise en valeur produit*/
.container-produit{
    height: 200px;
}
.produit{
    width: 100%;
    margin-top: 25px;
}

.produit{
    transition: transform 2s;
}
 
.produit:hover{
    transform:rotate(360deg);
}

/*360 du produit*
body{
    perspective: 800px;
}


.image-produit{
    width: 200px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 500px;
    opacity: 0.5;
    border: 2px solid #444;
    text-align: center;
    font-size: 1.3em;
    font-family: arial, sans-serif;
    transition: 2s;
    backface-visibility: hidden;  Permet d'éviter de voir le bloc de dos 
}


#devant{
    z-index: 100;
    background-image: url('../../media/produit_01.png');
}


#derriere {
    z-index: 50;
    background-image: linear-gradient(white, red);
    transform: rotateY(-180deg); /* Celui-ci est retourné par défaut 
}

#devant:hover{
    transform: rotateY(360deg); 
}




#devant:hover + #derriere

{

    transform: rotateY(180deg);  

}
*/