.fond-gris{
    background-color: darkgrey;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.header{
    background-image: url("../../media/background-header.jpg");
    background-position: 75% 35%;
    width: auto;
    height: 300px;
}

.about-us{
    background-image: url("../../media/about-us.jpg");
    background-size: cover;
    background-position: 70% 30%;
    width: auto;
    height: 500px;
}

.message{
    margin: 5px 5px 5px 0px;
 
}

.nom, .prenom{
    margin: 5px 5px 5px 0px;
   
}
.zone-message{
    width: 100%;
}
.valider{
    background-color: #663333;
    border: none;
}

.bouton{
    padding-left: 0px;
}

.about-us-text{
    margin: 40px 30px;
    text-align: center;
}

@media(min-width: 768px){
    .message{
        width: 100%;
    }
    


.about-us-text{
    margin: 29px 30px;
}
}

@media (min-width:992px){

.header{
    height: 625px;
}
.section-about{
    height: 625px;
    width: 100%;
}

.section-contact{
    height: 350px;
}
}